body {
    background-color: #222;
    color: #eee;
    font-family: "Segoe UI", sans-serif;
}

/* Link styling */
a:link, .link-internal {
    color: #DC143C !important; /* Crimson red for unvisited links */
    text-decoration: none;
}



/* Force <<link>> macros to use unvisited styling by default */
.macro-link {
    color: #DC143C !important; /* Crimson red for <<link>> macros */
}



a:hover {
    text-decoration: underline;
}

